stages:
  - test
  - linter
  - build

variables:
  FLAKE8_MAX_LINE_LENGTH: 99
  FLAKE8_MAX_COMPLEXITY: 20
  FLAKE8_IGNORE_ERRORS: 'E226,E302,E41,E402'

before_script:
  - locale -a
  - apt update && apt install --yes sudo locales gettext
  - if test -f /etc/locale.gen; then echo "/etc/locale.gen:"; grep -P -v '^\s*(#.*)?$' /etc/locale.gen; echo "<-- EOF"; true; fi
  - if grep 'en_US.UTF-8' /etc/locale.gen; then sed -i -e 's/# en_US.UTF-8 UTF-8/en_US.UTF-8 UTF-8/' /etc/locale.gen ; else echo 'en_US.UTF-8 UTF-8' >> /etc/locale.gen; fi
  - if grep 'de_DE.UTF-8' /etc/locale.gen; then sed -i -e 's/# de_DE.UTF-8 UTF-8/de_DE.UTF-8 UTF-8/' /etc/locale.gen ; else echo 'de_DE.UTF-8 UTF-8' >> /etc/locale.gen; fi
  - locale-gen
  - locale -a
  - pip install --upgrade pip
  - pip install -r requirements.txt --upgrade --upgrade-strategy eager

test Python 2.7:
  stage: test
  image: python:2.7
  script:
    - pip install --upgrade --upgrade-strategy eager ipaddress
    - pip install --upgrade --upgrade-strategy eager pytest
    - pytest --verbose
  tags:
    - docker

test Python 3.5:
  stage: test
  image: python:3.5
  script:
    - pip install --upgrade --upgrade-strategy eager pytest
    - pytest --verbose
  tags:
    - docker

test Python 3.6:
  stage: test
  image: python:3.6
  script:
    - pip install --upgrade --upgrade-strategy eager pytest
    - pytest --verbose
  tags:
    - docker

test Python 3.7:
  stage: test
  image: python:3.7
  script:
    - pip install --upgrade --upgrade-strategy eager pytest
    - pytest --verbose
  tags:
    - docker

Linter:
  stage: linter
  image: python:3.7
  script:
    - pip install --upgrade --upgrade-strategy eager flake8 pylint
    - flake8 --max-line-length=$FLAKE8_MAX_LINE_LENGTH --max-complexity=$FLAKE8_MAX_COMPLEXITY --ignore=$FLAKE8_IGNORE_ERRORS bin lib
  tags:
    - docker

build Python 2.7:
  stage: build
  image: python:2.7
  script:
    - python setup.py bdist
  tags:
    - docker

build Python 3.5:
  stage: build
  image: python:3.5
  script:
    - python setup.py bdist
  tags:
    - docker

build Python 3.6:
  stage: build
  image: python:3.6
  script:
    - python setup.py bdist
  tags:
    - docker

build Python 3.7:
  stage: build
  image: python:3.7
  script:
    - python setup.py bdist
  tags:
    - docker

