---

stages:
  - test
  - linter
  - build
  - deploy

variables:
  DEBFULLNAME: 'Frank Brehm'
  DEBEMAIL: 'frank@brehm-online.com'
  FLAKE8_MAX_LINE_LENGTH: 99
  FLAKE8_MAX_COMPLEXITY: 20
  FLAKE8_IGNORE_ERRORS: 'E226,E302,E41,E402'
  VERSION_PREFIX: 'unknown'
  YUM_REPO_GPG_ID: 'C0E73F70'
  YUM_REPO_GPG_PASSWD: 'secret'
  YUM_REPO_HOST: 'repo01.pixelpark.com'
  YUM_REPO_USER: 'rpm-repo'
  YUM_REPO_DIR_HTTP: '/Linux/yum/pixelpark'
  YUM_REPO_DIR: "/srv/www/repo${YUM_REPO_DIR_HTTP}"
  YUM_REPO_ADDSIGN_SCRIPT: '/home/rpm-repo/bin/rpm-addsign-wrapper.expect'
  YUM_REPO_GPG_KEY_PUB: 'nada'
  YUM_REPO_GPG_KEY_SEC: 'nada'

.template_docker_job: &docker_job_definition
  before_script:
    - locale -a
    - apt update && apt install --yes sudo locales gettext
    - if test -f /etc/locale.gen; then echo "/etc/locale.gen:"; grep -P -v '^\s*(#.*)?$' /etc/locale.gen || true; echo "<-- EOF"; fi
    - if grep 'en_US.UTF-8' /etc/locale.gen; then sed -i -e 's/# en_US.UTF-8 UTF-8/en_US.UTF-8 UTF-8/' /etc/locale.gen ; else echo 'en_US.UTF-8 UTF-8' >> /etc/locale.gen; fi
    - if grep 'de_DE.UTF-8' /etc/locale.gen; then sed -i -e 's/# de_DE.UTF-8 UTF-8/de_DE.UTF-8 UTF-8/' /etc/locale.gen ; else echo 'de_DE.UTF-8 UTF-8' >> /etc/locale.gen; fi
    - locale-gen
    - locale -a
    - pip install --upgrade pip
    - pip install -r requirements.txt --upgrade --upgrade-strategy eager

test Python 2.7:
  <<: *docker_job_definition
  stage: test
  image: python:2.7
  script:
    - pip install -r requirements-2.7.txt --upgrade --upgrade-strategy eager
    - pip install --upgrade --upgrade-strategy eager pytest
    - pip list --format columns
    - pytest --verbose
#  tags:
#    - docker
  except:
    - /^dev-.*$/
    - /^dev\/.*$/
    - /^hf.*$/
    - tags

test Python 3.5:
  <<: *docker_job_definition
  stage: test
  image: python:3.5
  script:
    - pip install --upgrade --upgrade-strategy eager pytest
    - pip list --format columns
    - pytest --verbose
#  tags:
#    - docker
  except:
    - /^dev-.*$/
    - /^dev\/.*$/
    - /^hf.*$/
    - tags

test Python 3.6:
  <<: *docker_job_definition
  stage: test
  image: python:3.6
  script:
    - pip install --upgrade --upgrade-strategy eager pytest
    - pip list --format columns
    - pytest --verbose
#  tags:
#    - docker
  except:
    - /^dev-.*$/
    - /^dev\/.*$/
    - /^hf.*$/
    - tags

test Python 3.7:
  <<: *docker_job_definition
  stage: test
  image: python:3.7
  script:
    - pip install --upgrade --upgrade-strategy eager pytest
    - pip list --format columns
    - pytest --verbose
#  tags:
#    - docker
  except:
    - /^dev-.*$/
    - /^dev\/.*$/
    - /^hf.*$/
    - tags

test Python 3.8:
  <<: *docker_job_definition
  stage: test
  image: python:3.8
  script:
    - pip install --upgrade --upgrade-strategy eager pytest
    - pip list --format columns
    - pytest --verbose
#  tags:
#    - docker
  except:
    - /^dev-.*$/
    - /^dev\/.*$/
    - /^hf.*$/
    - tags

Linter:
  <<: *docker_job_definition
  stage: linter
  image: python:3.8
  script:
    - apt install --yes shellcheck yamllint
    - pip install --upgrade --upgrade-strategy eager flake8 pylint
    - pip list --format columns
    - 'echo; echo -e "flake8 --max-line-length=${FLAKE8_MAX_LINE_LENGTH} --max-complexity=${FLAKE8_MAX_COMPLEXITY} --ignore=${FLAKE8_IGNORE_ERRORS} bin lib"'
    - flake8 --max-line-length=$FLAKE8_MAX_LINE_LENGTH --max-complexity=$FLAKE8_MAX_COMPLEXITY --ignore=$FLAKE8_IGNORE_ERRORS bin lib
    - 'echo; echo -e "shellcheck -x compile-xlate-msgs.sh test.py-*.sh test.rc test/call_script.sh test/call_sleep.sh update-env.sh xtract-xlate-msgs.sh"'
    - shellcheck -x compile-xlate-msgs.sh test.py-*.sh test.rc test/call_script.sh test/call_sleep.sh update-env.sh xtract-xlate-msgs.sh
    - 'echo; echo -e "yamllint -c yamllint.yaml .gitlab-ci.yml"'
    - yamllint -c yamllint.yaml .gitlab-ci.yml
  tags:
    - docker
  except:
    - /^dev-.*$/
    - /^dev\/.*$/
    - /^hf.*$/
    - tags

build Debian 10 Buster:
  variables:
    VERSION_PREFIX: 'deb10'
    DISTRIBUTOR: 'Debian'
    OS_RELEASE: '10'
    OS_CODENAME: 'buster'
  stage: build
  image: debian:buster
  before_script:
    - hostname -f
    - whoami
    - pwd
    - locale -a
    - apt update
    - apt dist-upgrade --yes --no-install-recommends
    - >
      apt install --yes --no-install-recommends sudo locales gettext build-essential
      devscripts fakeroot debhelper automake autotools-dev pkg-config help2man
      lsb-release ca-certificates libdistro-info-perl
  script:
    - >
      apt install --yes --no-install-recommends
      python-all python-argparse python-babel python-setuptools python-pathlib
      python-pip python-six python-tz python3-all python3-babel python3-pip
      python3-setuptools python3-six python3-tz dh-python
    - 'export ODIR=$(pwd)'
    - 'export PKG_VERSION=$( ./get-debian-version )'
    - 'export PKG_RELEASE=$( ./get-debian-release )'
    - 'export BUILD_VERSION="${PKG_VERSION}~${VERSION_PREFIX}"'
    - 'BUILDER="${DEBFULLNAME} <${DEBEMAIL}>"'
    - 'echo "Version to build: ${BUILD_VERSION} - Bulder: ${BUILDER}"'
    - 'debchange --newversion "${BUILD_VERSION}" --force-bad-version --distribution "${OS_CODENAME}" --urgency medium "Build for ${DISTRIBUTOR} ${OS_RELEASE} - ${OS_CODENAME}"'
    - echo "$YUM_REPO_GPG_KEY_PUB" | gpg --import
    # - echo "$YUM_REPO_GPG_KEY_SEC" | gpg --import
    - gpg --list-public-keys
    - gpg --list-secret-keys
    - 'echo "y" | debuild -i -us -uc'
    - 'echo "${PKG_VERSION}-${PKG_RELEASE}" > .debian-version'
    - ls -lA --color=always ..
    - 'mkdir -pv debian/pkgs/src debian/pkgs/${VERSION_PREFIX}'
    - 'mv -vi ../*.deb debian/pkgs/${VERSION_PREFIX}'
    - 'mv -vi ../*.dsc ../*.tar.* ../*.build* ../*.changes debian/pkgs/src'
    - ls -lA --color=always debian/pkgs/*/*
  tags:
    - docker
  cache:
    key: ${CI_JOB_NAME}
    paths:
      - .debian-version
#  artifacts:
#    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
#    paths:
#      - debian/pkgs/*/*
#    expire_in: '1 week'
#  except:
#    - /^dev-.*$/
#    - /^dev\/.*$/
#    - /^hf.*$/
#    - tags
  only:
    - dev-pkgbuild

build CentOS 7 with Python 3.6:
  stage: build
  image: centos:7
  before_script:
    - hostname -f
    - whoami
    - pwd
    - locale -a
    - yum clean all && yum makecache
    - 'for l in de_AT de_CH de_DE en_CA en_GB en_IE en_IN en_US ; do echo "${l}.utf8"; localedef --charmap UTF-8 --inputfile "${l}" "${l}.utf8"; done'
    - locale -a
    - locale
    - 'export LC_ALL=en_US.utf8'
    - locale
    - yum --assumeyes install epel-release
    - 'echo -e "YUM_REPO_HOST: ${YUM_REPO_HOST}"'
    - 'echo -e "YUM_REPO_DIR_HTTP: ${YUM_REPO_DIR_HTTP}"'
    - 'echo -e "[pixelpark]\nname=pixelpark\nbaseurl=https://${YUM_REPO_HOST}${YUM_REPO_DIR_HTTP}/7/\nenabled=1\ngpgcheck=1\ngpgkey=https://repo01.pixelpark.com/gpg/pixelpark.gpg" > /etc/yum.repos.d/pixelpark.repo'
    - yum makecache
    - yum --assumeyes upgrade
    - yum --assumeyes install python36 python36-pip python36-devel python36-pytz python36-babel gnupg2 rpm-build tree expect gettext python-devel python2-pip python-setuptools python-pathlib python-babel python-ipaddress pytz rpm-sign
    - ls -l --color=always /bin/python* /bin/pip* || true
    - pip2 list
    - pip3 list
  script:
    - mkdir -pv rpmdir
    - mkdir -pv rpmdir/SOURCES
    - 'export ODIR=$(pwd)'
    - 'export ROOT_OBJECTS=$( ls -A1 | egrep -vw ".git|rpmdir" )'
    - 'export PKG_VERSION=$( ./get-rpm-version )'
    - 'export PKG_RELEASE=$( ./get-rpm-release )'
    - 'echo "Version to build: ${PKG_VERSION}-${PKG_RELEASE}"'
    - 'mkdir -pv rpmdir/SOURCES/python_fb_tools-$PKG_VERSION'
    - 'tar cf - $ROOT_OBJECTS | (cd rpmdir/SOURCES/python_fb_tools-$PKG_VERSION; tar xf -)'
    - 'cd rpmdir/SOURCES && tar cfzv fb_tools.$PKG_VERSION.tar.gz python_fb_tools-$PKG_VERSION; cd $ODIR'
    - 'cat specs/fb_tools.spec.template | sed -e "s/@@@Version@@@/$PKG_VERSION/gi" -e "s/@@@Release@@@/${PKG_RELEASE}/gi" > specs/fb_tools.spec'
    - 'rpmbuild -ba --nocheck --verbose --define "_topdir $(pwd)/rpmdir" --define "version $PKG_VERSION" --define "python3_version_nodots 36" specs/fb_tools.spec'
    - tree -aQpugs rpmdir/*RPMS || true
    - ls -lA rpmdir/RPMS/*/* rpmdir/SRPMS/*
    - 'echo -e "%_signature gpg\n%_gpg_name ${YUM_REPO_GPG_ID}" >$HOME/.rpmmacros'
    - echo "$YUM_REPO_GPG_KEY_PUB" | gpg --import
    - gpg --list-public-keys
    - echo "$YUM_REPO_GPG_KEY_SEC" | gpg --import
    - gpg --list-secret-keys
    - 'for f in $( find rpmdir -type f -iname "*.rpm" ) ; do echo "Signing ${f} ..."; ./rpm-addsign-wrapper.expect "${f}" "${YUM_REPO_GPG_PASSWD}"; done'
    - 'echo "${PKG_VERSION}-${PKG_RELEASE}" > .rpm-version'
  cache:
    key: ${CI_JOB_NAME}
    paths:
      - .rpm-version
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    paths:
      - rpmdir/RPMS/*/*.rpm
      - rpmdir/SRPMS/*.src.rpm
    expire_in: '1 week'
  tags:
    - docker
  except:
    - /^dev-.*$/
    - /^dev\/.*$/
    - /^hf.*$/
    - tags

build CentOS 8 with Python 3.8:
  stage: build
  image: centos:8
  before_script:
    - hostname -f
    - whoami
    - pwd
    - locale -a
    - yum clean all && yum makecache
    - yum --assumeyes install langpacks-de langpacks-en langpacks-en_GB
    - locale -a
    - locale
    - 'export LC_ALL=en_US.utf8'
    - locale
    - yum --assumeyes install epel-release
    - 'echo -e "YUM_REPO_HOST: ${YUM_REPO_HOST}"'
    - 'echo -e "YUM_REPO_DIR_HTTP: ${YUM_REPO_DIR_HTTP}"'
    - 'echo -e "[pixelpark]\nname=pixelpark\nbaseurl=https://${YUM_REPO_HOST}${YUM_REPO_DIR_HTTP}/7/\nenabled=1\ngpgcheck=1\ngpgkey=https://repo01.pixelpark.com/gpg/pixelpark.gpg" > /etc/yum.repos.d/pixelpark.repo'
    - yum makecache
    - yum --assumeyes upgrade
    - yum --assumeyes install python38 python38-setuptools python38-pip python38-devel python38-pytz python38-babel platform-python-devel gnupg2 rpm-build tree expect gettext rpm-sign
    - ls -l --color=always /bin/python* /bin/pip* || true
    - pip3 list
  script:
    - mkdir -pv rpmdir
    - mkdir -pv rpmdir/SOURCES
    - 'export ODIR=$(pwd)'
    - 'export ROOT_OBJECTS=$( ls -A1 | egrep -vw ".git|rpmdir" )'
    - 'export PKG_VERSION=$( ./get-rpm-version )'
    - 'export PKG_RELEASE=$( ./get-rpm-release )'
    - 'echo "Version to build: ${PKG_VERSION}-${PKG_RELEASE}"'
    - 'mkdir -pv rpmdir/SOURCES/python_fb_tools-$PKG_VERSION'
    - 'tar cf - $ROOT_OBJECTS | (cd rpmdir/SOURCES/python_fb_tools-$PKG_VERSION; tar xf -)'
    - 'cd rpmdir/SOURCES && tar cfzv fb_tools.$PKG_VERSION.tar.gz python_fb_tools-$PKG_VERSION; cd $ODIR'
    - 'cat specs/fb_tools.spec.template | sed -e "s/@@@Version@@@/$PKG_VERSION/gi" -e "s/@@@Release@@@/${PKG_RELEASE}/gi" > specs/fb_tools.spec'
    - 'rpmbuild -ba --nocheck --verbose --define "_topdir $(pwd)/rpmdir" --define "version $PKG_VERSION" --define "python3_version_nodots 36" specs/fb_tools.spec'
    - tree -aQpugs rpmdir/*RPMS || true
    - ls -lA rpmdir/RPMS/*/* rpmdir/SRPMS/*
    - 'echo -e "%_signature gpg\n%_gpg_name ${YUM_REPO_GPG_ID}" >$HOME/.rpmmacros'
    - echo "$YUM_REPO_GPG_KEY_PUB" | gpg --import
    - gpg --list-public-keys
    - echo "$YUM_REPO_GPG_KEY_SEC" | gpg --import
    - gpg --list-secret-keys
    - 'for f in $( find rpmdir -type f -iname "*.rpm" ) ; do echo "Signing ${f} ..."; ./rpm-addsign-wrapper.expect "${f}" "${YUM_REPO_GPG_PASSWD}"; done'
    - ls -lA rpmdir/RPMS/*/* rpmdir/SRPMS/*
    - 'echo "${PKG_VERSION}-${PKG_RELEASE}" > .rpm-version'
  cache:
    key: ${CI_JOB_NAME}
    paths:
      - .rpm-version
#  artifacts:
#    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
#    paths:
#      - rpmdir/RPMS/*/*.rpm
#      - rpmdir/SRPMS/*.src.rpm
#    expire_in: '1 week'
  tags:
    - docker
#  except:
#    - /^dev-.*$/
#    - /^dev\/.*$/
#    - /^hf.*$/
#    - tags
  only:
    - dev-pkgbuild

Deploy packages EL7:
  stage: deploy
  tags:
    - deploy
  script:
    - hostname -f
    - whoami
    - pwd
    - ls -lA --color=always
    - if test -d rpmdir ; then ls -lA --color=always rpmdir/RPMS/*/* rpmdir/SRPMS/*; fi
    - 'echo -e "YUM_REPO_USER: ${YUM_REPO_USER}"'
    - 'echo -e "YUM_REPO_HOST: ${YUM_REPO_HOST}"'
    - 'echo -e "YUM_REPO_DIR: ${YUM_REPO_DIR}"'
    - 'scp -p -o StrictHostKeyChecking=no rpmdir/RPMS/*/*.rpm ${YUM_REPO_USER}@${YUM_REPO_HOST}:${YUM_REPO_DIR}/7/'
    - 'ssh -o StrictHostKeyChecking=no ${YUM_REPO_USER}@${YUM_REPO_HOST} "cd ${YUM_REPO_DIR}/7/ && createrepo --update . && chmod -v a+x repodata && chmod -Rv a+r repodata"'
  after_script:
    - rm -rf rpmdir
  environment:
    name: production
  dependencies:
    - 'build CentOS 7 with Python 3.6'
  only:
    - master
  when: manual

# vim: ts=2 et
