stages:
  - test
  - build

variables:
  FLAKE8_MAX_LINE_LENGTH: 99
  FLAKE8_MAX_COMPLEXITY: 20

before_script:
#  - cat /etc/locale.gen
#  - if grep 'en_US.UTF-8' /etc/locale.gen; then sed -i -e 's/# en_US.UTF-8 UTF-8/en_US.UTF-8 UTF-8/' /etc/locale.gen ; else; echo 'en_US.UTF-8 UTF-8' >> /etc/locale.gen; fi
#  - if grep 'de_DE.UTF-8' /etc/locale.gen; then sed -i -e 's/# de_DE.UTF-8 UTF-8/de_DE.UTF-8 UTF-8/' /etc/locale.gen ; else; echo 'de_DE.UTF-8 UTF-8' >> /etc/locale.gen; fi
#  - cat /etc/locale.gen
  - locale -a
  - locale-gen en_US.UTF-8 de_DE.UTF-8
  - pip install --upgrade pip
  - pip install -r requirements.txt --upgrade --upgrade-strategy eager

test Python 3.5:
  stage: test
  image: python:3.5
  script:
    - pip install --upgrade --upgrade-strategy eager flake8 pylint pytest
    - pytest --verbose
    - flake8 --max-line-length=$FLAKE8_MAX_LINE_LENGTH --max-complexity=$FLAKE8_MAX_COMPLEXITY bin lib
  tags:
    - docker

build Python 3.5:
  stage: build
  image: python:3.5
  script:
    - python setup.py bdist
  tags:
    - docker

