# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      #      - id: check-json
      - id: check-merge-conflict
      #      - id: check-symlinks
      - id: check-vcs-permalinks
      #      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: fix-encoding-pragma
      #  args:
      #    - --remove
      #      - id: file-contents-sorter
      - id: flake8
        args:
          - '--max-line-length'
          - '99'
          - '--max-complexity'
          - '20'
          - '--ignore'
          - 'E226,E302,E41,E402'
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args:
          - --django
      - id: no-commit-to-branch
      #      - id: pretty-format-json
      - id: requirements-txt-fixer
        args:
          - requirements.txt
          - requirements-2.7.txt
      #      - id: sort-simple-yaml
      - id: trailing-whitespace
