#!/bin/bash

PYTHON="${PYTHON:-python}"
VENV="${VENV:-venv}"

# --------------------------------------------------
prepare_env() {
    echo
    echo "Preparing environment."
    echo "----------------------"
    if [[ ! -d "${VENV}" ]] ; then
        virtualenv --python "${PYTHON}" "${VENV}" || exit 6
    fi
    VIRTUAL_ENV_DISABLE_PROMPT=yes
    . "${VENV}/bin/activate"
    echo
    echo "Installing and/or updating modules"
    echo "----------------------------------"
    if [[ ! -f "requirements.txt" ]] ; then
        echo "File 'requirements.txt' not found." >&2
        exit 8
    fi
    echo
    echo "Installing and/or updating pip ..."
    pip install --upgrade pip
    echo
    echo "Installing and/or updating required modules ..."
    pip install -r requirements.txt --upgrade --upgrade-strategy eager
    echo
    echo "Installing and/or updating pytest ..."
    pip install --upgrade --upgrade-strategy eager pytest
}

# --------------------------------------------------
start_tests() {
    echo
    echo "Starting tests."
    echo "---------------"
    pytest
}

# --------------------------------------------------
exec_tests() {
    echo "Workdir:     '$(pwd)'."
    echo "Python:      '${PYTHON}'."
    echo "Virtual env: '${VENV}'."
    prepare_env
    start_tests
    echo
    echo "Finished."

}

# vim: ts=4 filetype=sh
