Source: fb-tools
Section: python
Priority: extra
Maintainer: Frank Brehm <frank@brehm-online.com>
Build-Depends: debhelper (>= 9),
               gettext,
               dh-python,
               help2man,
               python3-all,
               python3-babel,
               python3-chardet,
               python3-fb-logging (>=0.5.0),
               python3-pip,
               python3-semver,
               python3-six,
               python3-yaml,
               python3-tz
Standards-Version: 3.9.6
Homepage: https://github.com/fbrehm/python_fb_tools
Vcs-Browser: https://github.com/fbrehm/python_fb_tools
Vcs-Git: https://github.com/fbrehm/python_fb_tools.git
X-Python3-Version: >= 3.5

Package: python3-fb-tools
Architecture: all
Depends: python3-six,
         python3-babel,
         python3-chardet,
         python3-fb-logging (>=0.5.0),
         python3-requests,
         python3-semver,
         python3-yaml,
         python3-tz,
         ${misc:Depends},
         ${python3:Depends}
Recommends: python3-toml
Provides: fb-tools
Conflicts: fb-tools
Replaces: fb-tools
Description: Python modules for common used objects, error classes and functions
 .
 This package includes the Python3 modules for this package.
