Source: fb-tools
Section: python
Priority: extra
Maintainer: Frank Brehm <frank@brehm-online.com>
Build-Depends: debhelper (>= 9),
               gettext,
               dh-python,
               help2man,
               python-all,
               python-argparse,
               python-babel,
               python-setuptools,
               python-pathlib,
               python-pip,
               python-six,
               python-tz,
               python3-all,
               python3-babel,
               python3-pip,
               python3-setuptools,
               python3-six,
               python3-tz
Standards-Version: 3.9.6
Homepage: https://github.com/fbrehm/python_fb_tools
Vcs-Browser: https://github.com/fbrehm/python_fb_tools
Vcs-Git: https://github.com/fbrehm/python_fb_tools.git
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.5

Package: fb-tools
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: python3-fb-tools (= ${binary:Version}),
         ${misc:Depends},
         ${python:Depends}
Description: Python modules for common used objects, error classes and functions
 .
 This package includes the executable binaries.

Package: python-fb-tools
Architecture: all
Depends: python-argparse,
         python-babel,
         python-ipaddress,
         python-pathlib,
         python-requests,
         python-six,
         python-tz,
         ${misc:Depends},
         ${python:Depends}
Suggests: python-pyvmomi
Description: Python modules for common used objects, error classes and functions
 .
 This package includes the Python2 modules for this package.

Package: python3-fb-tools
Architecture: all
Depends: python3-six,
         python3-babel,
         python3-requests,
         python3-tz,
         ${misc:Depends},
         ${python3:Depends}
Suggests: python3-pyvmomi
Description: Python modules for common used objects, error classes and functions
 .
 This package includes the Python3 modules for this package.

