#!/usr/bin/make -f
# -*- makefile -*-

export PYBUILD_NAME=fb-tools
export PYBUILD_DESTDIR_python3=debian/python3-fb-tools/
export PYBUILD_DESTDIR_bin=debian/fb-tools/
export PYBUILD_DISABLE=test

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	mkdir -pv ${PYBUILD_DESTDIR_bin}usr
	mv -v ${PYBUILD_DESTDIR_python3}usr/bin ${PYBUILD_DESTDIR_bin}usr
	if test -d ${PYBUILD_DESTDIR_python3}usr/share/man ; then mkdir -pv ${PYBUILD_DESTDIR_bin}usr/share; mv -v ${PYBUILD_DESTDIR_python3}usr/share/man ${PYBUILD_DESTDIR_bin}usr/share; fi

# vim: ts=8 list
