---

name: "Building OS packages."

on:
  push:
    branches-ignore:
      - /^dev-.*$/
      - /^dev\/.*$/
      - /^hf.*$/

env:
  DEBFULLNAME: 'Frank Brehm'
  DEBEMAIL: 'frank@brehm-online.com'

jobs:

  test_python_3-9:

    runs-on: ubuntu-latest
    container: python:3.9

    steps:
      - uses: actions/checkout@v2
      - name: Update all packages
        run: |
          apt update --yes
          apt list --upgradeable
          apt dist-upgrade --yes
      - name: Install locales and gettext
        run: apt install --yes sudo locales gettext
      - name: Update Locales
        run: |
          locale -a
          if test -f /etc/locale.gen; then
            echo "/etc/locale.gen:"
            grep -P -v '^\s*(#.*)?$' /etc/locale.gen || true; echo "<-- EOF"
          fi
          if grep 'en_US.UTF-8' /etc/locale.gen; then
            sed -i -e 's/# en_US.UTF-8 UTF-8/en_US.UTF-8 UTF-8/' /etc/locale.gen
          else
            echo 'en_US.UTF-8 UTF-8' >> /etc/locale.gen
          fi
          if grep 'de_DE.UTF-8' /etc/locale.gen
            then sed -i -e 's/# de_DE.UTF-8 UTF-8/de_DE.UTF-8 UTF-8/' /etc/locale.gen
          else
            echo 'de_DE.UTF-8 UTF-8' >> /etc/locale.gen
          fi
          locale-gen
          locale -a
      - name: Install PIP modules
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt --upgrade --upgrade-strategy eager
          pip install --upgrade --upgrade-strategy eager pytest
          pip list --format columns
      - name: Executing PyTest
        run: pytest --verbose


# vim: et tabstop=2 expandtab shiftwidth=2 softtabstop=2 list
